# Python
__pycache__/
*.pyc
.venv/
venv/

# Data (on évite de versionner les gros fichiers)
data/raw/*
data/processed/*
!data/raw/.gitkeep
!data/processed/.gitkeep

# OS / Editors
.DS_Store
Thumbs.db
.vscode/
